{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                {{ object.name }}
            </div>
            <div class="card-body">
                <p style="text-align:center"><img src="{{object.image | media_url }}" style="width:50%;"></p><br>
                <b>Цена:</b> {{ object.price }} руб.<br>
                <b>Категория:</b> {{ object.category }}<br>
                <b>Описание:</b> {{ object.description }}<br>
                <b>Добавил:</b> {{ object.owner|default:'аноним' }}<br>
                {% if version %}
                    <b>Номер версии:</b> {{ version.version_number }}<br>
                    <b>Название версии:</b> {{ version.version_name }}
                {% endif %}
                {% if user.is_authenticated %}
                <div class="col-12 mt-2">
                    {% if perms.catalog.can_change_category and perms.catalog.can_change_description and perms.catalog.set_published_status or user == object.owner %}
                        <a class="btn btn-warning" href="{% url 'catalog:product_update' object.pk %}">Редактировать</a>
                    {% endif %}
                    {% if perms.catalog.delete_product or user == object.owner %}
                        <a class="btn btn-danger" href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}